.root {
  li {
    display: inline-flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    border: 1px solid #fe5f1e;
    border-radius: 30px;
    margin-right: 15px;
    padding: 10px;
    cursor: pointer;
    amount {
      display: inline-block;
      font-weight: 700;
    }
  }

  li:hover {
    background-color: #fe5f1e;
   a {
      color: #fff;
    }
  }

 
  
}
