@import "../variables";

.cart {


  .item {
    display: grid;
    grid-template-columns: 2fr 4fr repeat(3, 2fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    border: 1px solid rgb(179, 174, 174);
    border-radius: 10px;
    padding: 10px;
  }


}
