.root {
    text-align: center;
    padding: 80px;
    span {
        font-size: 76px;
    }
     .description {
        text-align: center;
        margin-top: 20px;
        font-size: 30px;
        font-weight: 700;
        color: rgb(106, 9, 9);
    }
  
}
 